<ion-header>
  <ion-toolbar>
    <ion-title>Créer un Utilisateur:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form>
      <div class="input">
        <ion-label position="floating">Login</ion-label>
        <ion-input [(ngModel)]="user.login" type="text" name="login" #login required></ion-input>
      </div>
      <div class="input">
        <ion-label position="floating">Password:</ion-label>
        <ion-input [(ngModel)]="user.password" type="password" name="password" #password required></ion-input>
      </div>
      <div class="input">
        <ion-label position="floating">Confirm the Password:</ion-label>
        <ion-input [(ngModel)]="confirmPassword" type="password" name="password2" #password2 required></ion-input>
      </div>
      <div class="button-container">
        <ion-button expand="full" type="button" (click)="addUser()">Ajouter un utilisateur</ion-button>
      </div>
    </form>
  </div>
</ion-content>
