<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un coursier :</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addCoursier()">
    <ion-item>
      <ion-label position="floating">Name :</ion-label>
      <ion-input [(ngModel)]="coursier.name" name="nom" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Adresse :</ion-label>
      <ion-input [(ngModel)]="coursier.adress" name="adresse" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Recruitment date :</ion-label>
      <ion-input [(ngModel)]="coursier.recruitment_date" name="recruitment_date" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telephone number :</ion-label>
      <ion-input [(ngModel)]="coursier.Num_tel" name="Num_tel" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Category :</ion-label>
      <ion-select [(ngModel)]="coursier.category_name" name="category_name">
        <ion-select-option *ngFor="let category of categories" [value]="category.category_name">{{category.category_name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Ajouter</ion-button>
  </form>
</ion-content>
